@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}
.header{
    border-bottom: 5px solid #e31e24;
}
.header-scrolling{
    width: 100%;
    top: 0;
    z-index: 99;
    position: fixed;
}
.banner-caption{
    top: 0;
    bottom: 0;
    width: 100%;
}
.con-banner{
    max-width: 670px !important;
}
.con-banner span{
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
}
.page-title{
    margin-bottom: 15px;
}
.page-desc h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
}
.sec1{
    padding-top: 110px;
    padding-bottom: 135px;
}
.con-fleet{
    max-width: 1108px !important;
}
.pict{
    margin-bottom: 30px;
}
.name h3{
    font-size: 17px;
    font-weight: 800;
    color:#060e33 ;
    margin-bottom: 12px;
}
.tb td{
    color: #343434;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    padding: 0;
}
.tb td:first-of-type{
    font-size: 14px;
    color: #343434;
    width: 123px;
    font-weight: 800;
}





.footer{
    background-color: #060e33;
}
.main-footer{
    padding-top: 100px;
    padding-bottom: 80px;
}
.title-footer{
    max-height: 57px;
}
.title-footer h3{
    font-size: 18px;
    font-weight: 900;
}
.item{
    margin-top: 20px;
}
.content-nav{
    margin-top: 20px;
}
.nav-link{
    padding: 0;
    font-size: 15px;
    color: #ffff;
    line-height: 35px;
}
.content-addres{
    margin-top: 20px;
}
.content-addres p{
    font-size: 15px;
    line-height: 35px;
}
.sosmed-nav{
    margin-top: 20px;
}
.whatsapp{
    font-weight: 800;
    gap: 15px;
}
.whatsapp svg{
    font-size: 21px;
}
.nav-sosmed{
    gap: 15px;
    display: flex;
    align-items: center;
}
.nav-sosmed svg{
    font-size: 21px;
    color: #e51d25;
}
.copyright{
    height: 60px;
    background-color: #04091e;
    padding: 0 50px;
}
.text-cr p{
    margin-bottom: 0;
    font-size: 12px;
    color: #909090;
}